.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
// botones all y my Faves
.main__section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__section .section__button{
  width: 98px;
  height: 31px;
  font-family: var(--font-roboto);
  color: var(--color-font-primary);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  font-size: 16px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}
.main__section .section__button:hover{
  color: var(--color-azure);
  border: 1px solid var(--color-azure);
}

// comboBox
.comboBox{
  width: 240px;
  height: 32px;
  margin-top: 53px;
  justify-content: center;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  font-family: var(--font-roboto);
  font-weight: 300;
  background-color: var(--color-background);
}

.comboBox__selectbox{
  position: relative;
}

.comboBox__select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: .2s ease all;
  position: relative;
  padding: 5px 12px 5px 12px;
  &.active{
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
  }
}

.comboBox__select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
}

.comboBox__contenido_select{
  display: flex;
  flex-direction: row;
}

.opciones{
  width: 240px;
  height: 139px;
  margin-top: 5px;
  box-shadow: 0 2px 2px 0 #dad8d8;
  background-color: #fff;
  transition: .2s ease all;
  display: none;
  position: relative;
  z-index: 1;
  &.active{
    display: block;
  }
}

.opciones .opciones__seleccion{
  text-decoration: none;
  color: inherit;
}

.opciones__contenedor{
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 46px;
  padding: 6px 89px 10px 11px;
}
.opciones__contenedor:hover{
  transition: .2s ease all;
  background-color: rgb(238, 238, 238);
}

.opciones .opciones__logo{
  margin-left: 5px;
}

.opciones__contenedor .opciones__logo--angular{
  margin-left: 10px;
}

.opciones .opciones__textos{
  margin-left: 5px;
  padding: 5px 0;
}

// main card
.main__cards{
  width: 100%;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0 5px;
}

.button__readMore{
  width: 100%;
  display: flex;
  justify-content: center;
}

//paginacion
.paginacion{
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 98px;
}
.paginacion__opcion{
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 32px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #d9d9d9;
  color: #767676;
  font-family: var(--font-roboto);
  font-weight: 300;
  margin: 0 4px;
  padding: 5px;
}
.paginacion__opcion:hover{
  background-color: #1890ff;
  color: #fff;
}

@media (min-width: 720px){
  .main__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1366px){
  .container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 410px;
  }
}


