<main class="main">
  <section class="main__section">
    <button class="section__button" (click)="showLikedPostsOnly$.next(false)">All</button>
    <button class="section__button" (click)="showLikedPostsOnly$.next(true)">My faves</button>
  </section>

  <div class="container">
    <div class="comboBox">
      <form action="">
        <div class="comboBox__selectbox">
          <div class="comboBox__select" (click)="activarCbo()" [class.active]="opcionSeleccionada">
            <div class="comboBox__contenido_select">
              <p #selectNews class="comboBox__titulo">Select your news</p>
            </div>
            <fa-icon [icon]="chevronDown"></fa-icon>
          </div>
          <div class="opciones" [class.active]="cboActivo">
            <a *ngFor="let item of options" href="#" class="opciones__seleccion">
              <div (click)="activarCbo()" (click)="selectOption(item.text)" class="opciones__contenedor">
                <img class="opciones__logo" [src]="item.logo" alt="">
                <div class="opciones__textos">
                  <p>{{item.text}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <input type="hidden" name="framework" id="inputSelect" value="">
      </form>
    </div>
  </div>


  <section class="main__cards">
    <app-noticia [active]="nota.isFavorite" (toggleLike)="toggleLike(nota)" [noticia]="nota" *ngFor="let nota of news">
    </app-noticia>
  </section>

  <div class="paginacion">
    <button class="paginacion__opcion" (click)="nextPage()">Read more</button>
  </div>

</main>
